.container {
  flex-direction: column;
  padding: 35px 45px;

  .block-left {
    width: 100%;

    .block-tops {
      .block-tops-row {

        flex-direction: column;
        .block-top {
          margin: 0 0 35px 0;
          flex: 1 1 433px;
        }
      }
    }

    .block-bottoms {
      flex-direction: column;
      margin-top: 60px;

      .block-bottom {
        background-color: #F8E063;
        flex: 1 1 579px;
        margin: 0 0 35px 0;
      }
    }
  }

  .block-right {
    width: 100%;

    .block-aside {
      flex: 1 1 892px;
      background-color: #fff;
      margin-left: 0;
      margin-top: 0;
    }
  }
}
