.container {
  flex-direction: column;
  padding: 35px 45px;

  .block-left {
    width: 100%;

    .block-greens {
      .block-greens-row {

        flex-direction: column;
        .block-green {

          margin: 0 0 35px 0;
        }
      }
    }

    .block-whites {
      flex-direction: column;

      .block-white {

        margin: 0 0 35px 0;
      }
    }
  }

  .block-right {
    width: 100%;

    .block-yellow {

     margin-left: 0;
    }
  }
}
